body{
    margin: 0px;
    background-color: hsl(34, 78%, 91%);
    font-family: 'Courier New', Courier, monospace;
}
.blog{
    color: black;
    background-color: rgb(125, 143, 158);
    border: 2px ridge red;
    padding: 20px;
    text-align: justify;
    outline: 3px outset blueviolet;

}
/* blog - header */
