body{
    margin: 100px;
    background-color: hsl(34, 78%, 91%);
    font-family: 'Courier New', Courier, monospace;
}
.blog{
    color: black;
    background-color: rgba(125, 143, 158, 0.774);
    border: 8px ridge #ad375e9d;
    padding: 20px;
    text-align: justify;
    outline: 20px outset rgba(11, 201, 106, 0.884);
    margin: 50px 0px;
}
/* blog - header */
.header{
    color: #ff0000ab;
    font-size: 30px;
    text-align: center;
}

/*blog first */

#first-head{
    color: yellow;
}
.first > p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*second blog below*/

.two > h2{
    text-align: center;
    color:aqua
}
.two > p{
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*third blog below*/

#three-head{
    text-align: center;
    font-size: 34px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(0, 0, 255);
}
.three-sub{
 display: flex;
}
.three-sub-one{
    border: none;
    padding: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.add-style{
    border-right: 10px solid yellow;
}
/*blog four below*/
.four > h1{
    color: yellow;
    text-align: center;
    font-weight: bold;
}
input:focus{
    color:red;
    font-family: 'Times New Roman', Times, serif;
    background-color: antiquewhite;
}
/*footer here*/
#footer-section > p{
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-style: italic;
    border: 3px ridge yellow;
    border-radius: 15px;
    text-decoration: none;
    color: red;
    background-color: beige;
}
li:nth-child(2n)
{
    color: rgb(224, 170, 19);
    background-color: azure;
}
.five{
    padding: 50px;
}
.five-img{
    padding: 20px;
}
